<!DOCTYPE html>
<html>
    <head>
        <meta charset="uft-8" />
        <title>About Us</title>
        <link rel="stylesheet" href="../template/about_us.css">
    </head>
    <body> 
        <div class="container">
            <div class="nav-wrapper">
                <div class="left-side">
                    <div class="nav-link-wrapper">
                        <a href="../template/>Return</a>
                    </div>
                    <div class="nav-link-wrapper">
                        <a href="../template/create_account.html">Sign up</a>
                    </div>
                </div>
    
                <div class="nav-link-wrapper">
                </div>
            </div>
        </div>

        <div class="about-us-form">
            <div class="title">
                <h1>Voyager Cryptor</h1>
                <h3>The Utilization of Image Encryption / Decryption using Elliptic Curve Cryptography (ECC)</h3>
                <h3>A VandyHacks 2021 Project</h3>
            </div>
            <h1>Background</h1>
                <h1>Improvement</h1>
                <h1>About Us</h1>
            </form>

        </div>
    </body>
</html>