body {
    font-family: sans-serif;
    background-image: url("../template/create_account_images/space_background.jpg");;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
 
#login_frame {
    width: 600px;
    height: 450px;
    padding: 13px;

    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background:  rgba(255,255,255,0.5);
 
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -225px;
    padding: 100;
 
    text-align: center;
}
 
form p > * {
    display: inline-block;
    vertical-align: middle;
}
 
#image_logo {
    width: 100px;
    height: 100px;

    margin-top: 50px;
    margin-left: 250px;
}

img {
    max-width: 100%;
    max-height: 100%;
} 

.label_input {
    font-size: 15px;
    font-family: sans-serif;
 
    width: 100px;
    height: 42px;
    line-height: 40px;
    text-align: center;
 
    color: white;
    background-color: gray;
    border: 0;

}
 
.text_field {
    width: 40%;
    padding: 15px;
    margin: 5px 0 5px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

#login_control {
    width: 300px;
    height: 80px;
    margin-left: 150px;
}

#btn_login {
    font-size: 15px;
    font-family: sans-serif;
 
    width: 300px;
    height: 50px;
    line-height: 40px;
    text-align: center;
    border: none;
 
    color: white;
    background-color: #1c8adb;
    cursor: pointer;

    float: center;
}

#btn_login:hover[id="btn_login"]
{
    background-color: #1c8adb;
    transition: 0.8s;
}

#btn_login[id="btn_login"]:hover
{
    transform: scale(0.96);
}

#seperation_line {
    width: 400px;
    height: 1px;
    margin-top: 20px;

    color: black;
    fill: black;
}

#others {
    width: 400px;
    height: 40px;
    margin-left: 100px;
}

#forget_pwd {
    font-size: 15px;
    color: black;
    text-decoration: none;
    position: relative;
    float: right;
 
}
 
#forget_pwd:hover {
    color: #1c8adb;
    text-decoration: underline;
    margin-left: 20px;
}
 
#sign_up {
    font-size: 15px;
    color: black;
    text-decoration: none;
    position: relative;
    float: left;
}

#sign_up:hover {
    color: #1c8adb;
    text-decoration: underline;
}