<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../templates/login.css"/>
    <script type="text/javascript" src="login.js"></script>
    <script type="text/javascript" src="cookie.js"></script>
</head>

<div class="container">
    <div class="nav-wrapper">
        <div class="left-side">
            <div class="nav-link-wrapper">
                <a href="about_us.html">About Us</a>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    function delCookie ( name )
    {
        setCookie ( name, "", -1 ) ;
    }
    window.onload = function () {
    var username = getCookie("This is username");
    if ( username == "" )
    {
        document.getElementById("username").value="";
        document.getElementById("password").value="";
        document.getElementById("isRmbPwd").checked=false;
    }
    else
    {
        var password = getCookie(username);
        document.getElementById("username").value = username;
        document.getElementById("password").value = password;
        document.getElementById("isRmbPwd").checked = true;
    }
}
</script> 
<body>
<div id="login_frame">
 
    <div id="image_logo"><img src="../static/login_images/avatar.png" alt="login"></div>
 
    <form method="post" action="login.js">
 
        <p><label class="label_input">Username</label><input type="text" id="username" class="text_field"/></p>
        <p><label class="label_input">Password</label><input type="text" id="password" class="text_field"/></p>
 
        <div id="login_control">
            <input type="button" id="btn_login" value="Login" onclick="login();"/>
        </div>

        <hr id="seperation_line" size=1>

        <div id="others">
            <a id="sign_up" href='../templates/create_account.html'>Sign up now</a>
            <a id="forget_pwd" href="forget_pwd.html">Forgot password?</a>
        </div>
    </form>
</div>
 
</body>
</html>